<div class="container mx-auto px-4 sm:px-8">
  <div class="py-8">
    <h2 class="text-2xl font-semibold leading-tight">Admin Verification</h2>
    <p *ngIf="message" class="text-green-500">{{ message }}</p>
    <p *ngIf="errorMessage" class="text-red-500">{{ errorMessage }}</p>
    <div class="overflow-x-auto relative shadow-md sm:rounded-lg mt-6">
      <table class="w-full text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
          <tr>
            <th scope="col" class="py-3 px-6">User ID</th>
            <th scope="col" class="py-3 px-6">Username</th>
            <th scope="col" class="py-3 px-6">Name</th>
            <th scope="col" class="py-3 px-6">Email</th>
            <th scope="col" class="py-3 px-6">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let admin of unverifiedAdmins" class="bg-white border-b">
            <td class="py-4 px-6">{{ admin.id }}</td>
            <td class="py-4 px-6">{{ admin.username }}</td>
            <td class="py-4 px-6">{{ admin.firstName }} {{admin.lastName}}</td>
            <td class="py-4 px-6">{{ admin.email }}</td>
            <td class="py-4 px-6">
            <button 
  (click)="verifyAdmin(admin.id)"
  class="px-5 py-2.5 rounded-lg bg-gradient-to-r from-blue-300 to-blue-500 
         text-white font-semibold shadow-md hover:from-blue-500 hover:to-blue-400 
         focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-offset-1 
         active:scale-95 transition-all duration-200 ease-in-out">
   Verify
</button>

            </td>
          </tr>
          <tr *ngIf="unverifiedAdmins.length === 0">
            <td colspan="5" class="text-center py-4">No unverified admins found.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>